<div class="ovens">
  <div class="headerLine">
    <div id="menuF" class="default">
      <div class="container">
        <div class="row">
          <div class="logo col-md-4">
            <div>
              <a href="/">
                <p class="text-uppercase">
                  <i class="fa fa-university"></i>
                  &nbsp;Банный мир
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="navmenu"style="text-align: center;">
              <ul id="menu">
                <li><a href="/#home">Главная</a></li>
                <li><a href="/#about">О нас</a></li>
                <li><a href="/#catalog">Каталог</a></li>
                <li><a href="/#shares">Акции</a></li>
                <li class="last"><a href="/#contact">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center text-uppercase">Печи</h1>
  </div>
</div>
<div class="col-md-12">
    <%=link_to ovens_show_path do%>
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
        <div><%=image_tag "demo.jpg", class:"img-responsive"%></div>
        <h3 class="text-center text-uppercase">Печь</h3>
      </div>
    <%end%>
</div>